h1 {
    color: red;
    text-align: center;
}

.cell {
    background-color: black;
    width: 80px;
    height: 80px;
}

img {
    width: 80px;
    height: 80px;
}


/*POP UP DIVE WHEN LOSE OR WIN*/
.popup{
    text-align: center;
    background-color: red;
    width: 100;
    height: 100px;
    display: none;
    font-size: 40px;
    font-weight: bolder;
}


/*RESTART BUTTON CSS*/
.restart {
    background-color: gray;
}


/* LEVEL CHANGING CSS  */
.change-lvl{
    background-color: chartreuse;
}

.easy {
    background-color: chartreuse;
}

.medium{
    background-color: orange;
}

.hard{
    background-color: orangered;
}

/*HINT BUTTON CSS*/

.hint{
    background-color: blue;
}
